* {
  padding: 0;
  margin: 0;
  box-sizing: none;
  font-family: "Source Sans Pro", sans-serif; }

.btn {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  color: #fff;
  background: #ff3e5f;
  text-decoration: none; }

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden; }

#navbar {
  position: fixed;
  width: 100vw;
  padding: 1rem 0;
  display: flex;
  font-family: "Source Serif Pro", serif;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  border-bottom: 1px #ddd solid;
  box-shadow: 0 2px 5px #ddd; }
  #navbar .logo {
    display: flex;
    align-items: center; }
  #navbar .btn {
    margin: 0 3rem; }
  #navbar .logo img {
    width: 2rem;
    height: 2rem;
    padding-left: 0.5rem; }
  #navbar .logo h3 {
    font-size: 2rem;
    padding-left: 0.5rem; }
  #navbar ul {
    flex: 10;
    list-style: none;
    display: flex; }
    #navbar ul li {
      display: inline-block;
      padding: 0 2rem;
      font-size: 1.2rem;
      cursor: pointer; }
      #navbar ul li p {
        position: relative;
        text-align: start; }
        #navbar ul li p:before {
          position: absolute;
          bottom: 0;
          left: 0;
          content: "";
          transition: width 0.5s;
          width: 0px;
          height: 1px;
          background: #ff3e5f; }
      #navbar ul li p:hover {
        color: #ff3e5f; }
        #navbar ul li p:hover:before {
          width: 100px; }
      #navbar ul li ul {
        display: none;
        flex-direction: column; }
        #navbar ul li ul li {
          display: block;
          font-size: 0.75rem;
          color: #888; }
          #navbar ul li ul li:hover {
            color: #ff3e5f; }

.info .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 4fr;
  grid-template-areas: "header header" ". text";
  height: 100vh; }
  .info .container h1 {
    padding-top: 3rem;
    grid-area: header;
    font-size: 6rem;
    text-align: center;
    font-weight: 200;
    color: #ff3e5f;
    align-self: flex-end;
    line-height: 7rem; }
  .info .container div {
    padding-top: 4rem;
    grid-area: text;
    align-self: flex-start;
    line-height: 2rem;
    font-size: 1.25rem; }
    .info .container div a {
      text-decoration: none;
      text-transform: uppercase;
      color: #ddd;
      position: relative;
      text-align: start; }
      .info .container div a:before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        transition: width 0.5s;
        width: 0px;
        height: 1px;
        background: #ff3e5f;
        z-index: 2; }
      .info .container div a:hover {
        color: #ff3e5f; }
        .info .container div a:hover:before {
          width: calc(100% + 50px); }

#feed {
  background: #ecf2f0; }
  #feed .container {
    display: static; }
    #feed .container ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr 1fr 1fr;
      grid-template-areas: ". header" "news1 news2" "news3 news4";
      grid-gap: 2rem;
      list-style: none; }
      #feed .container ul .news1 {
        grid-area: news1; }
      #feed .container ul .news2 {
        grid-area: news2; }
      #feed .container ul .news3 {
        grid-area: news3; }
      #feed .container ul .news4 {
        grid-area: news4; }
      #feed .container ul li {
        cursor: pointer;
        line-height: 2rem; }
        #feed .container ul li:hover {
          color: #ff3e5f; }
        #feed .container ul li p:first-child {
          font-size: 1.5rem;
          color: #333;
          font-weight: 200; }
      #feed .container ul .news-header {
        align-self: center;
        line-height: 4rem;
        grid-area: header;
        font-size: 3rem; }

#register {
  color: #fff;
  font-size: 1.5rem;
  background: #ff3e5f;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #register h3 {
    font-weight: 200;
    margin-bottom: 40px; }
  #register form {
    padding: 1rem;
    border: 1px white solid;
    display: flex; }
    #register form input[type="submit"] {
      cursor: pointer;
      visibility: hidden;
      background: #ff3e5f;
      outline: none;
      border: none;
      color: white;
      font-size: 20px; }
      #register form input[type="submit"]:hover {
        transform: scale(1.2); }
    #register form:valid input[type="submit"] {
      visibility: visible; }
    #register form input[type="text"] {
      color: #fff;
      background: #ff3e5f;
      width: 450px;
      border: none;
      outline: none;
      padding: 0.25rem;
      font-size: 1rem; }

#footer {
  background: #000;
  color: #fff;
  display: grid;
  grid-template-areas: "address address" "info follow";
  grid-template-columns: 50% 50%; }
  #footer .address {
    grid-area: address;
    padding: 3rem 0;
    display: flex;
    justify-content: center; }
    #footer .address p {
      padding: 3rem 3rem;
      font-size: 1.5rem; }
  #footer .policy-info {
    grid-area: info;
    color: #333; }
    #footer .policy-info li:hover {
      color: #fff; }
  #footer .contact-info {
    grid-area: follow;
    display: flex;
    justify-content: flex-end;
    color: #ddd; }
    #footer .contact-info li:not(:last-child):hover {
      color: #ff3e5f; }
    #footer .contact-info li:last-child {
      display: flex;
      align-items: center; }
      #footer .contact-info li:last-child p:hover {
        color: #ff3e5f; }
      #footer .contact-info li:last-child i {
        padding: 0 1rem; }
        #footer .contact-info li:last-child i:hover {
          transform: scale(1.2); }
  #footer ul {
    cursor: pointer;
    display: flex;
    list-style: none; }
    #footer ul li {
      padding: 1rem 2rem; }
