// fonts-family
$font-family: Lato;
// font-sizes
$font-size-big: 3rem;
$font-size-medium: 2rem;
$font-size-small: 1rem;

// colors
$color-primary: #7768ae;
$color-light: #fafafa;
$color-dark: #333;
$color-white: #fff;
