@import "utils";
@import "variables";
@import "functions";

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}

ul {
  list-style: none;
}

body {
  font-family: $font-family;
}

// header height

h1 {
  font-size: 4rem;
  padding: 1.5rem 0;
}

h2 {
  font-size: 3rem;
  padding: 1.5rem 0;
}

h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
}

h4 {
  font-size: 1.3rem;
  padding-bottom: 0.75rem;
  padding-top: 0.25rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  padding-bottom: 1rem;
}

.px-1 {
  padding: 0 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.no-hover {
  pointer-events: none;
}

.center {
  text-align: center;
}

header {
  @include imageBefore("../img/day-1.jpg", "dark");
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: $color-white;
  div {
    img {
      padding: 3rem 0;
      width: 100px;
    }
  }
}

#navbar {
  z-index: 9;
  display: flex;
  justify-content: center;
  border-bottom: #000 solid 0.25px;
  position: sticky;
  top: 0;
  box-shadow: 0 0 10px #333;
  background: #fff;
  ul {
    display: flex;
    align-items: center;
    li {
      padding: 1rem 1rem;
      margin: 0 1.5rem;
      cursor: pointer;
      &:hover {
        background: $color-primary;
      }
      img {
        width: 50px;
      }
      a {
        text-align: center;
        color: #000;
      }
    }
  }
}

#services {
  @include sectionPadding;
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "header header" "box1 box2";
    grid-gap: 1.5rem;
    .title {
      grid-area: header;
      text-align: center;
      h2 {
        font-size: 3rem;
        padding: 1.5rem 0;
      }
    }

    div:nth-child(2) {
      grid-area: box1;
      ul {
        li {
          display: grid;
          grid-template-areas: "icon text1" ". text2";
          padding-bottom: 1.25rem;
          i {
            grid-area: icon;
          }
          p {
            grid-area: text2;
            color: $color-dark;
            padding-left: 1.25rem;
          }
        }
      }
    }

    div:nth-child(3) {
      grid-area: box2;
      @include image("../img/laptop.jpg", "cover");
      width: 100%;
    }
  }
}

#featured-work {
  @include sectionPadding;
  background: $color-light;
  .container {
    display: flex;
    .phone-image {
      @include image("../img/iphone.png", "contain");
      width: 50%;
    }
    div {
      width: 50%;
      p {
        padding: 1.75rem 0;
        text-align: justify;
      }
      ul {
        li {
          display: grid;
          grid-template-areas: "icon text1" ". text2";
          padding-bottom: 1.25rem;
          i {
            color: $color-dark;
            grid-area: icon;
          }
          p {
            padding: 0.75rem 1.25rem;
            grid-area: text2;
          }
        }
      }
    }
  }
}

#portfolio {
  @include sectionPadding;
  .container {
    p {
      color: $color-dark;
    }
    > ul {
      display: flex;
      padding: 0 4rem;
      padding-bottom: 3rem;
      display: flex;
      justify-content: space-evenly;
      li {
        display: inline;
      }
    }
    .portfolio-list {
      display: flex;
      flex-wrap: wrap;
      li {
        text-align: center;
        .portfolio-image {
          cursor: pointer;
          width: 250px;
          background: center center/cover;
          vertical-align: middle;
        }
      }
    }
  }
}

#clients {
  @include imageBefore("../img/city-dark.jpg", "dark");
  color: #fff;
  .container {
    @include sectionPadding;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    i {
      color: $color-primary;
      padding: 1.5rem 1.5rem;
      border: 3px solid $color-primary;
      border-radius: 50%;
      align-self: center;
    }
    .quote {
      margin: 2rem 0;
      color: $color-primary;
    }
    > img {
      align-self: center;
      padding: 2rem 0;
      border-radius: 50%;
    }
    p {
      padding-bottom: 3rem;
    }
  }
  .client-banner {
    padding: 1rem 0;
    background: $color-primary;
    ul {
      display: flex;
      justify-content: space-between;
    }
  }
}

#team {
  @include sectionPadding;
  .container {
    p {
      text-align: center;
    }
    ul {
      display: flex;
      li {
        padding: 2rem 0;
        display: flex;
        flex: 1;
        justify-content: center;
        flex-direction: column;
        p {
          padding: 0.25rem 0;
        }
        img {
          align-self: center;
          border-radius: 50%;
          width: 200px;
        }
      }
    }
  }
}

.business-banner {
  @include imageBefore("../img/circle-building.jpg", "dark");
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact {
  @include imageBefore("../img/world-map.jpeg", "light");
  .container {
    @include sectionPadding;
    display: flex;
    .contact-information {
      flex: 1;
      li {
        display: grid;
        grid-template-areas: "icon title text" ". . text";
        grid-template-columns: 0.5fr 1.5fr 5fr;
        padding: 0.75rem 0;
        i {
          font-size: 1.25rem;
        }
        p {
          font-size: 1.1rem;
        }
      }
      .social {
        display: flex;
        justify-content: space-between;
        padding: 3rem 5rem;
        i {
          font-size: 2rem;
          cursor: pointer;
          border-radius: 50%;
          color: #fff;
          background: $color-primary;
          width: 2rem;
          padding: 0.333rem 0.333rem;
          align-self: center;
          text-align: center;
          &:hover {
            color: $color-primary;
            background: #fafafa;
          }
        }
      }
    }
    .contact-form {
      flex: 1;
      .btn {
        width: 93%;
        margin-top: 1.5rem;
      }
    }
  }
}

#main-footer {
  @include sectionPadding;
  background: $color-primary;
  color: $color-light;
  text-align: center;
  img {
    width: 75px;
    padding: 1rem 0;
  }
  p {
    text-align: center;
    padding: 1.2rem;
  }
}
